# dependencies
node_modules/
.pnp
.pnp.*

# builds
dist/
dist-ssr/
*.local

# logs
logs/
*.log
npm-debug.log*

# caches / OS
.vite/
__pycache__/
*.py[cod]
.venv/
.DS_Store
Thumbs.db

# env
.env
.env.*
!.env.example
